@using StubSite.Data
@using StubSite.Repo
@inject NavigationManager NavMan
@inject IJSRuntime JSRuntime
@implements IDisposable

<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="position:sticky;top:0;z-index:2">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img alt="Logo image" src="images/CompanyLogo.png" style="height:3em" />
        </a>
        <h2 class="navbar-toggler @NavButtonCssClass" style="border:none;font-size:xx-large;color:@Constants.ColorScheme["Text"]">@Constants.CurPage</h2>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                @* <li class="nav-item">
                    <NavLink class="nav-link" href="services">
                        <span class="oi oi-plus" aria-hidden="true"></span> Services
                    </NavLink>
                </li> *@
                <li class="nav-item">
                    <NavLink class="nav-link" href="menu">
                        <span class="oi" aria-hidden="true"></span> Menu
                    </NavLink>
                </li>
                
                @* Specific Start *@
                <li class="nav-item">
                    <NavLink class="nav-link" href="events">
                        <span class="oi" aria-hidden="true"></span> Events
                    </NavLink>
                </li>
                @* Specific End *@
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact-us">
                        <span class="oi" aria-hidden="true"></span> Contact Us
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="https://form.jotform.com/252374009495158">
                        <span class="oi" aria-hidden="true"></span> Apply Here!
                    </NavLink>
                </li>
            </ul>
            <div class="flex-r">
                <div class="flex-c-start">
                    <p>Main</p>
                    <input @bind=@Accent type="color" />
                </div>
                <div class="flex-c-start">
                    <p>Accent</p>
                    <input @bind=@Main type="color" />
                </div>
                <div class="flex-c-start">
                    <p>Text</p>
                    <input @bind=@Text type="color" />
                </div>
            </div>
        </div>
    </div>
    @if (NavMan.Uri.Trim('/').EndsWith("menu"))
    {
        <div class="flex-r-100" style="align-items:center">
            <h5 style="margin-right:.25em">
                Jump to Section:
            </h5>
            <FancySelect @bind-Value="SelCat" Style="width:fit-content">
                @foreach (string cat in Categories)
                {
                    <option value="@cat">@cat</option>
                }
            </FancySelect>
        </div>
    }
</nav>

@code {
    public string main { get; set; }
    [Parameter]
    public EventCallback<string> MainChanged { get; set; }
    [Parameter]
    public string Main
    {
        get { return main; }
        set
        {
            if (main == value)
                return;
            main = value;
            Constants.ColorScheme["Main"] = main;
            MainChanged.InvokeAsync(value);
        }
    }

    public string accent { get; set; }
    [Parameter]
    public EventCallback<string> AccentChanged { get; set; }
    [Parameter]
    public string Accent
    {
        get { return accent; }
        set
        {
            if (accent == value)
                return;
            accent = value;
            Constants.ColorScheme["Accent"] = accent;
            AccentChanged.InvokeAsync(value);
        }
    }
    
    public string text { get; set; }
    [Parameter]
    public EventCallback<string> TextChanged { get; set; }
    [Parameter]
    public string Text
    {
        get { return text; }
        set
        {
            if (text == value)
                return;
            text = value;
            Constants.ColorScheme["Text"] = text;
            TextChanged.InvokeAsync(value);
        }
    }

    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    List<string> Categories = new List<string>();

    string selCat { get; set; }
    string SelCat
    {
        get { return selCat; }
        set
        {
            if (string.IsNullOrEmpty(value))
                return;

            selCat = value;
            JumpToSection(selCat);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Constants.CurPageChanged += CurPageUpdated;

        Dictionary<string, List<Item>> Items = await MenuRepo.GetMenuItemsAsDictionary();
        Categories = Items.Keys.ToList();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CurPageUpdated(object sender, string cp)
    {
        StateHasChanged();
    }

    private async Task JumpToSection(string id)
    {
        await JSRuntime.InvokeVoidAsync("scrollToFragment", id);
    }

    public void Dispose()
    {
        Constants.CurPageChanged -= CurPageUpdated;
    }
}
