@using StubSite.Data.Specific
@inject NavigationManager NavMan

<div class="flex-c-start price-block @(Product.Beautify ? "beautify" : "")" style="@Style">
    <h2 style="font-family: Dosis;color:@Text">@Product.Title</h2>
    @if (ChildContent != null)
    {
        @ChildContent
    }

    @foreach (var feature in Product.Features)
    {
        string featShow = feature;
        bool None = feature.StartsWith("!");
        bool Not = feature.StartsWith("~");
        bool Required = feature.StartsWith("*");
        if (Not || Required || None)
            featShow = feature.Substring(1);

        <div class="flex-r-100" style="margin:0;justify-content:space-between;align-items:center;border-bottom:1px solid silver;padding:1em 0">
            <span style="text-align:start">@featShow</span>
            @if (!None)
            {
                @if (Not)
                {
                    <span class="oi oi-x" style="margin:0; margin-left:1em" />
                }
                else if (Required)
                {
                    <span style="margin:0; margin-left:1em">Required</span>
                }
                else
                {
                    <span class="oi oi-circle-check" style="margin:0; margin-left:1em" />
                }
            }
        </div>
    }
    <div class="switch-space" style="align-items:center;width:100%;margin-top:2em">
        <h1 style="font-family:Dosis;color:@Text;margin:0;">@Product.Cost <span style="font-size:medium">@Product.Duration</span></h1>

        @if (ShowButton)
        {
            <button class="btn btn-primary" style="background-color:@Accent;color:@ButtonText;border-radius:2em;" @onclick=@(() => NavMan.NavigateTo("contact-us" + SubjectParam))>📲 Reach Out</button>
        }
    </div>
</div>

@code {
    [CascadingParameter(Name = "Main")]
    public string Main { get; set; }

    [CascadingParameter(Name = "Accent")]
    public string Accent { get; set; }

    [CascadingParameter(Name = "Text")]
    public string Text { get; set; }

    [CascadingParameter(Name = "ButtonText")]
    public string ButtonText { get; set; }

    [Parameter]
    public PricingProduct Product { get; set; }

    [Parameter]
    public bool ShowButton { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public string Subject { get; set; }

    public string SubjectParam => string.IsNullOrEmpty(Subject) ? "" : "?subject=" + Subject;
}
